.sign {
  position: fixed;

  opacity: 0;
  pointer-events: none;

  &__active {
    opacity: 1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    background: rgb(46 46 46 / 71%);
    pointer-events: all;
    backdrop-filter: blur(3px);
  }

  &__block {
    width: 980px;
    margin: 0 auto;
    // display: flex;
    // justify-content: center;
    background-color: $grey-form;
    border-radius: 12px;
  }

  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;

    & a {
      opacity: 0, 6;
      font-weight: 400;
      font-size: 14px;
      color: rgba(40, 46, 60, 1);
      text-decoration: none;
      margin-bottom: 68px;
    }

    & p {
      margin: 12px 0 68px 0
    }


    & [type="red"] {
      background-color: rgba(52, 52, 52, 1);
      width: 524px;
      height: 44px;
      border-radius: 100px;
    }
  }

  &__title {
    margin: 68px 0 8px;
    font-weight: 500;
    font-size: 52px;
  }

  &__text {
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 56px;
  }

  &__number-input {
    width: 524px;
    padding-left: 16px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid rgba(192, 197, 206, 1);
    margin-bottom: 16px;
  }

  &__email-input {
    padding-left: 16px;
    width: 524px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid rgba(192, 197, 206, 1);
    margin-bottom: 26px;
  }


  &__or {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    margin: 0 12px 26px 12px;

    &:before {
      content: '';
      display: block;
      width: 237px;
      height: 1px;
      margin-right: 12px;
      background-color: $grey-form-module;
    }

    &:after {
      content: '';
      display: block;
      width: 237px;
      height: 1px;
      margin-left: 12px;
      background-color: $grey-form-module;
    }
  }
}