.white,
.red {
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.02em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 8px 15px;
  gap: 10px;
}

.white {
  background-color: transparent;
  border: 1px solid $grey-dark;
  color: $grey-dark;

  transition: all 0.1s;

  &:hover {
    background-color: $grey-form;
  }
}

.red {
  background-color: $red;
  border: none;
  color: white;
  transition: all 0.1s;

  &:hover {
    background-color: $red-dark;
  }
}
