.form {
  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 32px;
  }

  &__container {
    &--personal-a,
    &--personal-b {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-rows: auto auto auto;
      grid-template-columns: auto auto auto;
      gap: 32px 16px;
    }

    &--personal-a {
      grid-template-areas:
        "name occupation phone"
        "email country index"
        "address itn null";
    }

    &--personal-b {
      grid-template-areas:
        "name organization itn"
        "email page type"
        "country city occupation";
    }

    &--radio {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }

  &__radio-wrap {
    display: flex;
    gap: 18px;
    align-items: center;
  }

  input[type="radio"] {
    display: none;
  }

  // input[type="text"] {
  //   max-width: 375px;
  //   height: 48px;
  // }

  &__radio-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 6px 53px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  &__radio-label:before {
    content: "";
    display: inline-block;
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid $black;
  }

  &__radio-label:after,
  &__radio-label:before {
    transition: all 0.2s;
  }

  /* Checked */
  input[type="radio"]:checked + &__radio-label:after {
    content: "";
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0.3rem;
    left: 5px;
    bottom: 1px;
    background-color: $black;
    border-radius: 50%;
    opacity: 1;
  }

  /* Hover */
  &__radio-label:hover:before {
    border: 2px solid $grey-light;
  }

  input[type="radio"]:hover + &__radio-label:hover:after {
    background-color: $grey-light;
  }

  &__text-field {
    display: flex;
    flex-direction: column;
  }

  #name {
    grid-area: name;
  }

  #occupation {
    grid-area: occupation;
  }

  #phone {
    grid-area: phone;
  }

  #email {
    grid-area: email;
  }

  #country {
    grid-area: country;
  }

  #index {
    grid-area: index;
  }

  #address {
    grid-area: address;
  }

  #itn {
    grid-area: itn;
  }

  #organization {
    grid-area: organization;
  }

  #page {
    grid-area: page;
  }

  #type {
    grid-area: type;
  }

  #city {
    grid-area: city;
  }

  &__checkbox-wrap {
    display: flex;
    align-items: center;
    margin-top: 14px;
    & label {
      margin-left: 12px;
    }
  }

  &__custom-checkbox {
    width: 20px;
    height: 25px;
  }

  &__pass-input {
    max-width: 524px;
  }

  &__pass-info {
    margin-top: 8px;
  }
}
