.form {
  &__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 32px;
  }

  &__container {
    &--personal-a {
      display: grid;
      grid-template-rows: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
      grid-template-areas:
        "name occupation phone"
        "email country index"
        "address itn 0";
      gap: 32px 15px;
    }

    &--personal-b {
      display: grid;
      grid-template-rows: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
      grid-template-areas:
        "name organization itn"
        "email page type"
        "country city occupation";
      gap: 32px 15px;
    }

    &--radio {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }

  &__radio-wrap {
    display: flex;
    gap: 18px;
    align-items: center;
  }

  input[type="radio"] {
    display: none;
  }

  // input[type="text"] {
  //   max-width: 375px;
  //   height: 48px;
  // }

  input[type="email"],
  input[type="number"],
  input[type="text"],
  input[type="tel"],
  input[type="url"] {
    max-width: 375px;
    height: 48px;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 1);
    border: 0;
    padding: 16px;
    color: rgba(171, 173, 173, 1);
    font-size: 14px;
  }

  &__radio-label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 6px 53px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  &__radio-label:before {
    content: "";
    display: inline-block;
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 1px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid $black;
  }

  /* Checked */
  input[type="radio"]:checked + &__radio-label:after {
    content: "";
    width: 23px;
    height: 23px;
    position: absolute;
    top: 0.3rem;
    left: 5px;
    bottom: 1px;
    background-color: $black;
    border-radius: 50%;
  }

  /* Hover */
  &__radio-label:hover:before {
    border: 2px solid $grey;
  }

  input[type="radio"]:hover + &__radio-label:hover:after {
    background-color: $grey;
  }

  &__text-field {
    display: flex;
    flex-direction: column;
  }

  #name {
    grid-area: name;
  }

  #occupation {
    grid-area: occupation;
  }

  #phone {
    grid-area: phone;
  }

  #email {
    grid-area: email;
  }

  #country {
    grid-area: country;
  }

  #index {
    grid-area: index;
  }

  #address {
    grid-area: address;
  }

  #itn {
    grid-area: itn;
  }

  #organization {
    grid-area: organization;
  }

  #page {
    grid-area: page;
  }

  #type {
    grid-area: type;
  }

  #city {
    grid-area: city;
  }

  &__checkbox-wrap {
    display: flex;
    align-items: center;
    & label {
      margin-left: 12px;
    }
  }

  &__custom-checkbox {
    width: 20px;
    height: 25px;
  }

  &__pass-wrap {
    flex-direction: column;
    font-weight: 400;
    line-height: 16px;
    color: $grey;
    width: 524px;
    margin-bottom: 24px;

    & #agree {
      margin: 16px 12px 0 0;
    }

    & input[type="text"] {
      padding: 16px;
      width: 524px;
      height: 44px;
      border-radius: 8px;
      background-color: rgba(239, 239, 239, 1);
      border: 1px solid rgba(192, 197, 206, 1);
      color: rgba(171, 173, 173, 1);
      font-size: 14px;
    }

    & p {
      margin-bottom: 12px;
      font-size: 18px;
    }

    &:last-child {
      padding-top: 24px;
      margin-bottom: 16px;
    }
  }
}
